$text: #2c3e50;
$green: rgb(65,184,131);
$green-hover: rgb(152, 214, 186);
$green-active: rgb(32, 107, 73);
$gray: rgb(53,73,94);
$gray-hover: rgb(80, 111, 150);
$gray-active: rgb(31, 43, 56);
$text-active: rgb(38, 55, 75);
$disabled-color: gray;